* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
  /* user-drag: none; */
  -webkit-user-drag: none;
  /* min-width: 0px; */
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  viewport-fit: contain; /* or auto */
}

body #dark {
  scrollbar-color: rgb(92, 110, 126) rgb(30, 39, 50);
}

#portal {
}

#dark {
  background-color: rgb(21, 32, 43);
  color: rgb(247, 249, 249);
  /* rgb(56,68,77) border color */
  /* rgb(30,39,50) sidebar and whole scroll background */
  /* rgb(28,39,50) tweet hightlight color  */
  /* rgb(39,51,64) search bar background */
  /* rgb(79,96,109) icon border color  */
  /* rgb(92,110,126) scroll bar background */
  /* rgb(36,45,56) sidebar hover color  */
  /* rgb(26,48,54) tweet comment like etc. button background-color;  */
  /* rgb(25,94,141) empty new tweet button color */
  /* rgb(44,54,64) header link and for you following hover color */
  /* rgb(28, 51, 69) tweet options, create tweet buttons background  */
  /* rgb(83,100,113) profile options, bell border*/
}
.appContainer {
  display: flex;
  margin: auto;
  min-height: 100vh;
  /* height: 100dvh; */
  /*changed*/
  height: 100%;
}

.headerContainer {
  display: flex;
  flex: 1;
  height: 100%;
  /**/
  /* height: 100vh; */
  /* height: 100dvh; */
  justify-content: end;
  max-width: 594px;
}

.headerContent {
  float: right;
  width: 269px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 12px;
  overflow-x: hidden;
  /* height: 100vh; */
  height: 100%;
  position: fixed;
}

.headerTopContentContainer {
  float: right;
  /* width: 269px; */
  /* overflow-y: auto; */
  /* padding-left: 8px; */
  /* padding-right: 8px;  */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.logoHeaderContainer {
  margin-bottom: 4px;
}

.twitterLogoContainer {
  width: 100%;
  height: 56px;
  padding: 2px 0px;
  /* height: 50.25px; */
  display: flex;
  align-items: center;
}

.twitterLogoHover {
  display: flex;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 50%;
}

#light .twitterLogoHover:hover {
  background-color: #e7e7e8;
}
#dark .twitterLogoHover:hover {
  background-color: rgb(44, 54, 64);
}

.twitterLogoIconContainer {
  width: 50px;
  height: 50px;
  padding-left: 12px;
  display: flex;
}

.twitterLogoIcon {
  width: 26.25px;
  fill: #1d9bf0;
}

.headerLinkListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.headerLinkContainer {
  display: flex;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.headerLink {
  display: inline-flex;
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25.125px;
  transition: background-color 0.2s ease;
}

#light .headerLinkAnchor:hover > .headerLink {
  background-color: #e7e7e8;
}
#dark .headerLinkAnchor:hover > .headerLink {
  background-color: rgb(44, 54, 64);
}

.headerLinkIcon {
  width: 26.25px;
  display: flex;
}

.headerLinkLabel {
  margin-left: 20px;
  margin-right: 16px;
  font-size: 20px;
  font-weight: 400;
  user-select: none;
}

/* .headerWriteTweetButtonContainer {
  padding-top: 2px;
  margin-bottom: 4px;
} */

.headerTweetButtonContainer {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.headerTweetButton {
  width: 90%;
  height: 52px;
  min-height: 52px;
  min-width: 52px;
  border-radius: 26px;
  background-color: #1d9bf0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4px;
  transition: background-color 0.2s ease;
  border-radius: 26px;
}

.headerTweetButton:hover {
  background-color: #1a8cd8;
}

.headerTweetButtonLabel {
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.writeTweetButtonIcon {
  width: 24px;
  height: 24px;
  color: #fff;
}

.mycon {
  width: 20px;
}

.headerAccountContainer {
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#light .headerAccountContainer:hover {
  background-color: #e7e7e8;
}
#dark .headerAccountContainer:hover {
  background-color: rgb(44, 54, 64);
}

.headerAccount {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 100%;
}

.accountIcon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  transition: filter 0.2s ease;
  cursor: pointer;
}

.accountIcon:hover {
  filter: brightness(80%);
}

.headerAccountIcon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
}

.headerAccountNameContainer {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

.headerAccountName {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 15px;
  font-weight: 700;
  user-select: none;
}

.headerAccountNameTag {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: rgb(83, 100, 113);
  font-size: 15px;
  font-weight: 400;
  margin-left: 12px;
}

.headerAccountOptionsIconContainer {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding-left: 10px;
}

.headerAccountOptionsIcon {
  width: 18.75px;
}

.contentContainer {
  width: 600px;
  margin-right: 20px;
  height: fit-content;
}

.homeTimelineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4; */
}

#light .homeTimelineContainer {
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
}

#dark .homeTimelineContainer {
  border-left: 1px solid rgb(56, 68, 77);
  border-right: 1px solid rgb(56, 68, 77);
}

.contentTopContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  backface-visibility: hidden;
  flex-direction: column;
  /* border-bottom: 1px solid #eff3f4; */
  position: sticky;
  top: 0px;
}

#light .contentTopContainer {
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #eff3f4;
}

#dark .contentTopContainer {
  background-color: rgba(21, 32, 43, 0.85);
  border-bottom: 1px solid rgb(56, 68, 77);
}

.homeContainer {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  /* max-width: fit-content; */
  flex-shrink: 1;
  height: 53px;

  /* cursor: pointer; */
}

.profileArrowNameContainer {
  display: flex;
  flex-direction: row;
}

.homeButton {
  /* width: 100%; */
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.homeSpan {
  font-size: 20px;
  font-weight: 700;
}

.themeIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.themeIcon {
  width: 30px;
  height: 30px;
}

.foryouFollowingContainer {
  display: flex;
  justify-content: space-around;
  height: 53px;
}

.foryouContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.foryouContainerActive {
  height: 4px;
  width: 56px;
  border-radius: 2px;
  margin-top: -4px;
  background-color: #1a8cd8;
}

#light .foryouContainer:hover {
  background-color: rgb(231, 231, 232, 0.5);
  /* opacity: 0.85; */
}
#dark .foryouContainer:hover {
  background-color: rgb(44, 54, 64);
  /* opacity: 0.85; */
}

.foryouSpan {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.followingContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.followingContainer:hover {
  background-color: rgb(231, 231, 232, 0.5);
  /* opacity: 0.85; */
}

.followingSpan {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.contentTopLoginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 53px;
  margin: 0px 12px;
}

.contentTopLoginOptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100%;
}

.contentTopLoginOptionContainerRight {
  margin-left: 12px;
}

.contentTopLoginButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
}

.contentTopLoginButtonText {
  color: rgb(29, 155, 240);
  font-size: 14px;
  font-weight: 700;
}

.contentTopRegisterButtonContainer {
  background-color: rgb(26, 140, 216);
  border: none;
}

.contentTopRegisterButtonText {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.createTweetContainer {
  display: flex;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  /* border-bottom: 1px solid #eff3f4; */
}

#light .createTweetContainer {
  border-bottom: 1px solid #eff3f4;
}

#dark .createTweetContainer {
  border-bottom: 1px solid rgb(56, 68, 77);
}

.createTweetProfileIconContainer {
  padding-top: 12px;
  margin-right: 12px;
}

.createTweetRightContainer {
  display: flex;
  flex-direction: column;
  padding-top: 6px;

  width: 100%;
}

.writeTweetTextAreaContainer {
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.writeTweetInput {
  /* background-color: #00ba7c; */
  font-size: 20px;
  border: none;
  resize: none;
  overflow: hidden;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.writeTweetInput:focus {
  outline: none;
}

#light .writeTweetInput {
  background-color: rgb(255, 255, 255);
  color: #000;
}

#dark .writeTweetInput {
  background-color: rgb(21, 32, 43);
  color: #FFF;
}

.darkOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  cursor: default;
}

.overlayTweetImage {
  max-width: 100%;
  max-height: 100%;
}

.writeTweetAttachmentContainer {
  margin-left: 10px;
}

.tweetAttachmentContainer {
  /* position: relative; */
}

.createTweetAttachmentImage {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.crossIconContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: rgba(15, 20, 25, 0.75);
  right: 4px;
  top: 4px;
  border-radius: 16px;
}

.crossIcon {
  width: 18px;
  height: 18px;
  color: #fff;
}

.writeTweetOptionsContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.writeTweetOptionsLeftContainer {
  display: flex;
  margin-top: 12px;
}

.writeTweetOptionsIconContainer {
  display: flex;
  height: 34px;
  width: 34px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

#light .writeTweetOptionsIconContainer:hover {
  background-color: #e8f5fd;
}
#dark .writeTweetOptionsIconContainer:hover {
  background-color: rgb(28, 51, 69);
}

.tweetOptionsIcon {
  color: #1d9bf0;
  display: flex;
}

ion-icon {
  font-size: 64px;
  color: #1a8cd8;
}

.writeTweetButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.writeTweetButton {
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ecdf7;
  border-radius: 18px;
}

.writeTweetButtonSpan {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.newTweetContainer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid #eff3f4; */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#light .newTweetContainer {
  border-bottom: 1px solid #eff3f4;
}

#dark .newTweetContainer {
  border-bottom: 1px solid rgb(56, 68, 77);
}

.newTweetContainer:hover {
  background-color: #f7f7f7;
}

.newTweetNumber {
  color: rgb(29, 155, 240);
  font-size: 15px;
  font-weight: 400;
}

.tweetLinkHover {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#light .tweetLinkHover:hover {
  background-color: #f7f7f7;
}

#dark .tweetLinkHover:hover {
  background-color: rgb(28, 39, 50);
}

.tweetOptionsIcon {
  fill: #1d9bf0;
  width: 18px;
}

.tweetContainer {
  border-bottom: #eff3f4 solid 1px;
  /* max-width: 566px; */
  display: flex;
  flex-direction: row;
  /* cursor: pointer; */
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  /* transition: background-color 0.2s ease; */
}

#light .tweetContainer {
  border-bottom: #eff3f4 solid 1px;
}

#dark .tweetContainer {
  border-bottom: rgb(56, 68, 77) solid 1px;
}

/* .tweetContainer:hover {
  background-color: #f7f7f7;
} */

.TweetProfileIconContainer {
  padding-right: 12px;
  height: fit-content;
  display: flex;
}

.tweetRightContainer {
  display: flex;
  max-width: 514px;
  flex-direction: column;
  width: 100%;
  padding-bottom: 12px;
  min-width: 0;
}

.tweetProfileNameOptionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7px;
  cursor: pointer;
}

.tweetProfileNameContainer {
  display: flex;
  overflow: hidden;
  min-width: 0px;
  white-space: nowrap;
  width: 100%;
  width: 0;
  min-width: 95%;
  /* min-width: 100%; */
  /* flex-shrink: 1; */
  /* flex: 1; */
}

.tweetProfileName {
  font-size: 15px;
  font-weight: 700;
  /* position: absolute; */
  /* width: inherit;
  overflow: hidden; */
  /* width: 0;
  min-width: 100%; */
}

.tweetProfileNameTag {
  /* flex: 1; */
  font-size: 15px;
  font-weight: 700;
  color: rgb(83, 100, 113);
  font-size: 15px;
  font-weight: 400;
  margin-left: 4px;
  /* position: absolute; */
  /* width: inherit;
  overflow: hidden; */
  /* width: 0;
  min-width: 100%; */
}

.tweetProfileName:hover {
  text-decoration: underline;
}

.tweetUserOptionsIconContainer {
  display: flex;
  justify-content: center;
  margin: -8px;
  width: 34.75px;
  height: 34.75px;
  min-width: 34.75px;
  min-height: 34.75px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

#light .tweetUserOptionsIconContainer:hover {
  background-color: #e1eef6;
}
#dark .tweetUserOptionsIconContainer:hover {
  background-color: rgb(28, 51, 69);
}

.tweetUserOptionsIconContainer:hover > .tweetUserOptionsIcon {
  color: #35a6f1;
}

.tweetUserOptionsIcon {
  display: flex;
  width: 18.75px;
}

.tweetTextContainer {
  /* display: flex;
  flex-wrap: wrap;
  flex: 1; */
}

.tweetText {
  /* white-space: pre-wrap; */
  /* overflow-wrap: break-word; */
  word-break: break-all;
}

.tweetAttachmentContainer {
  margin-top: 12px;
}

.tweetMediaContainer {
  display: flex;
  max-height: 510px;
  overflow: hidden;
  cursor: pointer;
}

.tweetMediaTop {
  min-width: 100%;
}

.tweetImage {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  border-radius: 16px;
}

.tweetStatsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  height: 20px;
}

.tweetStats {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tweetStatsIconContainer {
  display: flex;
  justify-content: center;
  margin: -8px;
  width: 34.75px;
  height: 34.75px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

#light .commentsStats > .tweetStatsIconContainer:hover {
  background-color: #e1eef6;
}
#dark .commentsStats > .tweetStatsIconContainer:hover {
  background-color: rgb(28, 49, 67);
}
#light .retweetsStats > .tweetStatsIconContainer:hover {
  background-color: #e6f3ef;
}
#dark .retweetsStats > .tweetStatsIconContainer:hover {
  background-color: rgb(25, 54, 58);
}
#light .likesStats > .tweetStatsIconContainer:hover {
  background-color: #f7e2ec;
}
#dark .likesStats > .tweetStatsIconContainer:hover {
  background-color: rgb(50, 37, 58);
}
#light .viewsStats > .tweetStatsIconContainer:hover {
  background-color: #e1eef6;
}
#dark .viewsStats > .tweetStatsIconContainer:hover {
  background-color: rgb(28, 51, 69);
}

.commentsStats > .tweetStatsIconContainer:hover > .tweetStatsIcon,
.commentsStats > .tweetStatsIconContainer:hover + .tweetStatsNumber {
  color: #35a6f1;
}
.retweetsStats > .tweetStatsIconContainer:hover > .tweetStatsIcon,
.retweetsStats > .tweetStatsIconContainer:hover + .tweetStatsNumber {
  color: #00ba7c;
}
.likesStats > .tweetStatsIconContainer:hover > .tweetStatsIcon,
.likesStats > .tweetStatsIconContainer:hover + .tweetStatsNumber {
  color: #f84a9b;
}
.viewsStats > .tweetStatsIconContainer:hover > .tweetStatsIcon,
.viewsStats > .tweetStatsIconContainer:hover + .tweetStatsNumber {
  color: #35a6f1;
}

/* .commentsStats > .tweetStatsIconContainer:hover {
  background-color: #e1eef6;
}
.retweetsStats > .tweetStatsIconContainer:hover {
  background-color: #e6f3ef;
}
.likesStats > .tweetStatsIconContainer:hover {
  background-color: #f7e2ec;
}
.viewsStats > .tweetStatsIconContainer:hover {
  background-color: #e1eef6;
} */

/* .likesIconHover > .tweetStatsIcon:hover {
  color: #f44336;
} */

.tweetStatsNumber {
  padding: 0 12px;
  font-size: 13px;
  font-weight: 400;
  user-select: none;
  color: #5d6d79;
}

.writeCommentBottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweetStatsIcon {
  width: 18.75px;
  display: flex;
  justify-content: center;
  color: #5d6d79;
}

.contentBottomBuffer {
  height: 200px;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  /* margin-right: 90px; */
  /* margin-left: auto; */
  margin-right: max(9px, calc((100vw - 100%) / 2));
}

.loginButtonContainer {
  display: flex;
  justify-content: end;
  /* width: fit-content; */
}

.loginAreaContainer {
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

.homeLoginContainer {
  position: sticky;
  top: 0;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: start;
  /* border: rgb(239, 243, 244) solid 1px; */
  border-radius: 20px;
  margin-top: 12px;
}

#light .homeLoginContainer {
  background-color: #fff;
  border: rgb(239, 243, 244) solid 1px;
}

#dark .homeLoginContainer {
  background-color: rgb(21, 32, 43);
  border: rgb(56, 68, 77) solid 1px;
}

.homeLoginTopTextContainer {
  padding: 12px 16px;
}

.homeLoginTopText {
  font-size: 20px;
  font-weight: 800;
}

.homeLoginCommentTextContainer {
  padding: 0px 12px;
}

.homeLoginCommentText {
  font-size: 13px;
  font-weight: 400;
}

.homeLoginButtonsContainer {
  display: flex;
  flex-direction: column;
  margin: 4px 12px 16px 12px;
}

.homeLoginCommentTextContainerBottom {
  padding: 0px 12px;
  margin-bottom: 16px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

.loginButton {
  width: 50%;
  height: 52px;
  border-radius: 26px;
  background-color: #1d9bf0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4px;
  transition: background-color 0.2s ease;
  border-radius: 26px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  width: 170px;
}

.loginButton:hover {
  background-color: #1a8cd8;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  float: left;
  padding-left: 10px;
  width: 350px;
  height: 100%;
}

.searchBarContainer {
  display: flex;
  background-color: #eff3f4;
  border-radius: 22px;
  margin-top: 12px;
  margin-bottom: 12px;
}

#light .searchBarContainer {
  background-color: #eff3f4;
}

#dark .searchBarContainer {
  background-color: rgb(39, 51, 64);
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 44px;
}

.searchBarIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  height: 44px;
  width: 44px;
}

.searchBarIcon {
  width: 18.75px;
}

.searchBarTextConainer {
  padding: 12px;
  flex: 1;
}

.followRecommendContainer {
  background-color: #f7f9f9;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
  padding-bottom: 12px;
}

#light .followRecommendContainer {
  background-color: #f7f9f9;
}

#dark .followRecommendContainer {
  background-color: rgb(30, 39, 50);
}

.followRecommendLabel {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 800;
}

.followRecommendAccountsListContainer {
  display: flex;
  flex-direction: column;
}

.followRecommendAccountContainer {
  display: flex;
  cursor: pointer;
  padding: 12px 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#light .followRecommendAccountContainer:hover {
  background-color: #eff1f1;
}

#dark .followRecommendAccountContainer:hover {
  background-color: rgb(36, 45, 56);
}

.followRecommendAccountLeftSide {
  display: flex;
  align-items: center;
}

.followRecommendAccountIconContainer {
  margin-right: 12px;
  height: 40px;
  width: 40px;
}

.followRecommendAccountNameContainer {
  display: flex;
  flex-direction: column;
}

.followRecommendAccountName {
  font-size: 15px;
  font-weight: 700;
  user-select: none;
}

.followRecommendAccountName:hover {
  text-decoration: underline;
}

.followRecommendAccountNameTag {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: rgb(83, 100, 113);
  font-size: 15px;
  font-weight: 400;
  /* margin-left: 4px; */
}

/* .followRecommendAccountRightSide {
} */

.followRecommendFollowButtonContainer {
  height: 32px;
  width: 78px;
  background-color: #0f1419;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.followRecommendFollowButton {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.trendsBarContainer {
  display: flex;
  flex-direction: column;
  background-color: #f7f9f9;
  width: 100%;
  border-radius: 16px;
  /* position: sticky;
  top: 0; */
}

#light .trendsBarContainer {
  background-color: #f7f9f9;
}

#dark .trendsBarContainer {
  background-color: rgb(30, 39, 50);
}

.trendsBarLabelContainer {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 800;
}

.trendsListContainer {
  display: flex;
  flex-direction: column;
}

.trendsList {
  display: flex;
  flex-direction: column;
}

.trendItemContainer {
  display: flex;
  padding: 12px 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#light .trendItemContainer:hover {
  background-color: #eff1f1;
}

#dark .trendItemContainer:hover {
  background-color: rgb(36, 45, 56);
}

.trendItem {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.trendItemRankContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.trendItemRank {
  color: #666;
  font-size: 13px;
}

.trendItemOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.75px;
  height: 34.75px;
  margin: -8px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.trendItemOptionsContainer:hover {
  background-color: #e1eef6;
}

.trendItemOptionsContainer:hover > .trendItemOptions {
  color: #35a6f1;
}

.trendItemOptions {
  width: 18.75px;
  height: 18.75px;
}

.trendItemTagContainer {
  margin-top: 2px;
  height: 20px;
}

.trendItemTag {
  font-weight: 700;
}

.trendItemPostsCountContainer {
  margin-top: 4px;
  height: 16px;
}

.trendItemPostsCount {
  color: #666;
  font-size: 13px;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.loginLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 32px;
}

.logoContainer {
  width: 300px;
}

.loginOptionsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.loginOptionsAreaContainer {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.LoginAreaTextContainer {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 32px;
}

.loginAreaCreateAccountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background-color: #1d9bf0;
  margin-top: 12px;
}

.loginAreaCreateAccountContainer > span {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.loginAreaAccountTextContaienr {
  margin-top: 40px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

.loginAreaSignInContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: #ccc solid 1px;
}

#light .loginAreaSignInContainer {
  border: #ccc solid 1px;
}

#dark .loginAreaSignInContainer {
  border: rgb(56, 68, 77) solid 1px;
}

.loginAreaSignInContainer > span {
  font-size: 15px;
  font-weight: 700;
  color: #1d9bf0;
  text-decoration: none;
}

.loginModalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}

.loginModal {
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; */
  min-height: 400px;
  min-width: 500px;
  max-width: 500px;
  max-height: 500px;
  max-width: 80vw;
  max-height: 90vh;
  height: 550px;
  width: 600px;
  border-radius: 16px;
  background-color: #fff;
  height: fit-content;
  /* display: flex;
  flex: 1; */
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow: hidden; */
}

#light .loginModal {
  background-color: #fff;
}

#dark .loginModal {
  background-color: rgb(21, 32, 43);
}

.loginModalContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* overflow-y: auto; */
  overflow-x: hidden;
}

.loginModalTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 53px;
  padding: 0px 16px;
}

.loginModalLogo {
  width: 30px;
}

.loginModalBottomContainer {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  /* height: 300px; */
  /* min-height: 500px; */
  overflow-y: auto;
}

.loginModalBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0px 118px;
  padding: 0px 32px;
  padding-bottom: 48px;
  overflow-y: auto;
  max-height: 500px;
}

.loginModalTopTextContainer {
  display: flex;
  width: 100%;
  margin: 20px 0px;
}

.loginModalTopText {
  font-size: 31px;
  font-weight: 700;
}

.loginModalButtonContainer {
  margin: 12px 0px;
}

.loginButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  /* border: #ccc solid 1px; */
}

.googleIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.loginOptionsSeperator {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.seperatorLine {
  height: 1px;
  background-color: #ccc;
  width: 100%;
  margin: 0px 4px;
}

.seperatorText {
  font-size: 17px;
  font-weight: 400;
  color: #141923;
}

.loginModalInputContainer {
  padding: 12px 0px;
  width: 100%;
}

.loginModalInput {
  width: 100%;
  height: 56px;
  font-size: 17px;
  padding: 8px;
  border: #ccc 1px solid;
  border-radius: 4px;
}

.loginModalInput:focus {
  outline: none;
  border-color: #1d9bf0;
}

.loginModalLoginButtonContainer {
  margin-top: 20px;
}

.transparentOverlay {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.accountModalContainer {
  z-index: 1000;
  padding: 12px 0px;
  border-radius: 16px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

.modalButton {
  padding: 12px 16px;
  cursor: pointer;
}

.modalButtonTextContainer {
  display: flex;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
}

.loggoutButtonText {
  font-size: 15px;
  font-weight: 700;
  user-select: none;
  word-break: break-all;
}

.modalButton:hover {
  background-color: #f7f9f9;
}

.lightModalButton:hover {
  background-color: #f7f9f9;
}
.darkModalButton:hover {
  background-color: rgb(28, 39, 50);
}

.backArrowContainer {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  /* justify-content: start; */
}

.backArrowLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  height: 36px;
  width: 36px;
  margin-left: -9px;
}

#light .backArrowLogoContainer:hover {
  background-color: #e7e7e8;
}
#dark .backArrowLogoContainer:hover {
  background-color: rgb(44, 54, 64);
}

.backArrow {
  display: flex;
  width: 20px;
  height: 20px;
}

.profileContainer {
  width: 600px;
}

.profileStickyTopNameContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.profileStickyTopNameText {
  overflow: hidden;
}

.profileTopContainer {
  display: flex;
  flex-direction: column;
  border-bottom: #eff3f4 solid 1px;
}

.profileCoverContainer {
  display: flex;
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.profileCoverImage {
  width: 100%;
  object-fit: fill;
  max-height: 100%;
}

.profileTopMainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.profileTopMenuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileTopMenuIconContainer {
  display: flex;
  width: 25%;
  min-width: 48px;
  margin-top: -15%;
  margin-bottom: 12px;
  border-radius: 50%;
  overflow: hidden;
  border: #fff solid 4px;
}

#light .profileTopMenuIconContainer {
  border: #fff solid 4px;
}

#dark .profileTopMenuIconContainer {
  border: rgb(21, 32, 43) solid 4px;
}

.profileTopIcon {
  width: 100%;
  height: 100%;
}

.profileTopRightContainer {
  display: flex;
  flex-direction: row;
}

.profileTopRightButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.profileTopRightSettingsButtonContainer {
  height: 48px;
  width: 44px;
}

.profileTopRightButtonCircle {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#light .profileTopRightButtonCircle {
  border: #cfd9de solid 1px;
}

#dark .profileTopRightButtonCircle {
  border: rgb(83, 100, 113) solid 1px;
}

.profileTopRightButtonCircle:hover {
  /* background-color: rgba(15, 20, 25, 0.1);
  cursor: pointer; */
}

#light .profileTopRightButtonCircle:hover {
  background-color: rgba(15, 20, 25, 0.1);
  cursor: pointer;
}

#dark .profileTopRightButtonCircle:hover {
  background-color: rgb(44, 54, 64);
  cursor: pointer;
}

.profileTopRightSettingsButton {
  width: 18.75px;
  height: 18.75px;
}

.profileTopRightRingButtonContainer {
  height: 48px;
  width: 44px;
}

.profileTopRightRingButton {
  width: 24px;
  height: 24px;
}

.profileTopRightFollowButtonContainer {
  height: 48px;
}

.profileTopRightFollowButtonCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
}

#light .profileTopRightFollowButtonCircle {
  border: #cfd9de solid 1px;
}

#dark .profileTopRightFollowButtonCircle {
  border: rgb(83, 100, 113) solid 1px;
}

.profileTopRightFollowButtonCircle:hover {
}

.profileTopRightFollowButtonText {
  font-size: 15px;
  font-weight: 700;
}

.profileNameContainer {
  display: flex;
  margin-bottom: 12px;
}

.profileNameText {
  font-size: 20px;
  font-weight: 800;
  word-break: break-all;
}

.profileBioContainer {
  display: flex;
  margin-bottom: 12px;
}

.profileBioText {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.profileUserInfoContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.profileUserInfoItemContainer {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
  align-items: center;
}

.profileUserInfoItemIcon {
  width: 18.75px;
  height: 18.75px;
  margin-right: 4px;
  margin-left: -3px;
  color: #666;
}

.profileUserInfoItemText {
  font-size: 15px;
  font-weight: 400;
  color: #666;
}

.profileUserFollowInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.profileUserFollowContainer {
  margin-right: 20px;
}

.profileUserFollowNumber {
  font-size: 14px;
  font-weight: 700;
}

.profileUserFollowText {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

/* .progressContainer {
  width: 100%;
  background-color: #ccc;
  height: 30px;
  border-radius: 4px;
  margin: 10px 0;
}

.progressBar {
  width: 0;
  height: 100%;
  background-color: #1d9bf0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  transition: width 0.3s;
} */

.optionsModal {
  position: absolute;

  z-index: 200;
  border-radius: 16px;
}

#light .optionsModal {
  background-color: #fff;
}

#dark .optionsModal {
  background-color: rgb(21, 32, 43);
}
.accountModal {
  position: fixed;
  background-color: #fff;
  z-index: 3000;
  border-radius: 16px;
  /* height: 88px; */
  width: 300px;
  /* padding: 0px 12px; */
}

/* .accountModal {
  position: 'fixed';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  background-color: '#FFF';
  padding: '50px';
  z-Index: 1000;
} */

/* .optionsModal {
  position: absolute;
  background-color: black;
   width: 200px;
  height: 200px; 
  z-index: 3000;
   bottom: 0px; 
   left: 118px; 
   left: 0px; 
} */
/* .accountModal {
  position: absolute;
  background-color: black;
  width: 200px;
  height: 200px;
  z-index: 3000;
  bottom: 0px;
  left: 118px; 
  left: 0px;
} */

/* .accountModalContainer {
  z-index: 300;
} */

.tweetOptionsOverlay {
  z-index: -100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

@media screen and (max-width: 1000px) {
  .loginLogoContainer {
    display: none;
  }
  .loginOptionsContainer {
    align-items: center;
  }
}

.loginContainer {
}

@media screen and (max-height: 500px) {
  .loginContainer {
    height: 500px;
  }
}

@media screen and (max-height: 850px) {
  .headerLinkContainer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 1300px) {
  .headerContainer {
    max-width: 200px;
    min-width: 80px;
    /* max-height: 100vh; */
    /* min-width: fit-content; */
    /* padding-right: ; */
  }
  .headerLinkLabel {
    display: none;
  }
  .headerContent {
    width: 80px;
    align-items: center;
    padding-right: 4px;
  }
  .headerTopContentContainer {
    /* width: auto; */
  }
  .headerTweetButton {
    max-width: 52px;
  }
  .headerAccount {
    padding: 8px;
  }
  .headerAccountContainer {
    max-width: 64px;
  }
}

@media screen and (max-width: 1100px) {
  .sidebarContainer {
    display: none;
  }
  .headerContainer {
    flex-grow: 2;
  }
  .contentContainer {
    flex-grow: 2;
    margin-right: auto;
  }
  .homeTimelineContainer {
    max-width: 600px;
  }
}

@media screen and (max-width: 750px) {
  .tweetContainer {
    padding-left: 8px;
  }
  .createTweetContainer {
    padding-left: 8px;
  }
  .homeContainer {
    padding-left: 8px;
  }
  .headerContent {
    /* padding-left: 4px; */
    /* padding-right: 4px; */
  }
}
