* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
  /* user-drag: none; */
  -webkit-user-drag: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.appContainer {
  display: flex;
  margin: auto;
  /* height: 100vh; */
  height: 100%;
}

.headerContainer {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: end;
}

.headerContent {
  float: right;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: fixed;
}

.headerTopContentContainer {
  float: right;
  width: 275px;
  overflow-y: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.twitterLogoContainer {
  width: 100%;
  height: 50.25px;
  display: flex;
  align-items: center;
}

.twitterLogoHover {
  display: flex;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 50%;
}

.twitterLogoHover:hover {
  background-color: #e7e7e8;
}

.twitterLogoIconContainer {
  width: 50px;
  height: 50px;
  padding-left: 12px;
  display: flex;
}

.twitterLogoIcon {
  width: 26.25px;
  fill: #1d9bf0;
}

.headerLinkListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.headerLinkContainer {
  display: flex;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.headerLink {
  display: inline-flex;
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25.125px;
  transition: background-color 0.2s ease;
}

.headerLinkAnchor:hover > .headerLink {
  background-color: #e7e7e8;
}

.headerLinkIcon {
  width: 26.25px;
  display: flex;
}

.headerLinkLabel {
  margin-left: 20px;
  margin-right: 16px;
  font-size: 20px;
  font-weight: 400;
  user-select: none;
}

.button {
  width: 90%;
  height: 52px;
  border-radius: 26px;
  background-color: #1d9bf0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4px;
  transition: background-color 0.2s ease;
  border-radius: 26px;
}

.button:hover {
  background-color: #1a8cd8;
}

.buttonLabel {
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.mycon {
  width: 20px;
}

.headerAccountContainer {
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.headerAccountContainer:hover {
  background-color: #e7e7e8;
}

.headerAccount {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 100%;
}

.accountIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: filter 0.2s ease;
}

.accountIcon:hover {
  filter: brightness(80%);
}

.headerAccountName {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 15px;
  font-weight: 700;
  user-select: none;
}

.headerAccountOptionsIconContainer {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.headerAccountOptionsIcon {
  width: 18.75px;
}

.contentContainer {
  width: 600px;
  height: fit-content;
}

.homeTimelineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
}

.contentTopContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  backface-visibility: hidden;
  flex-direction: column;
  border-bottom: 1px solid #eff3f4;
  position: sticky;
  top: 0px;
}

.homeContainer {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  /* justify-content: center; */
  /* max-width: fit-content; */
  flex-shrink: 1;
  height: 53px;
  font-size: 20px;
  font-weight: 700;
  /* align-items: center; */
  cursor: pointer;
}

.homeButton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.foryouFollowingContainer {
  display: flex;
  justify-content: space-around;
  height: 53px;
}

.foryouContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.foryouContainer:hover {
  background-color: rgb(231, 231, 232, 0.5);
  /* opacity: 0.85; */
}

.foryouSpan {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.followingContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.followingContainer:hover {
  background-color: rgb(231, 231, 232, 0.5);
  /* opacity: 0.85; */
}

.followingSpan {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.createTweetContainer {
  display: flex;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #eff3f4;
}

.createTweetProfileIconContainer {
  padding-top: 12px;
  margin-right: 12px;
}

.createTweetRightContainer {
  display: flex;
  flex-direction: column;
  padding-top: 6px;

  width: 100%;
}

.writeTweetTextAreaContainer {
  padding-top: 12px;
  padding-bottom: 12px;
}

.writeTweetInput {
  font-size: 20px;
  border: none;
  resize: none;
  overflow: hidden;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.writeTweetInput:focus {
  outline: none;
}

.writeTweetOptionsContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.writeTweetOptionsLeftContainer {
  display: flex;
  margin-top: 12px;
}

.writeTweetOptionsIconContainer {
  display: flex;
  height: 34px;
  width: 34px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.writeTweetOptionsIconContainer:hover {
  background-color: #e8f5fd;
}

.tweetOptionsIcon {
  color: #1d9bf0;
  display: flex;
}

ion-icon {
  font-size: 64px;
  color: #1a8cd8;
}

.writeTweetButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.writeTweetButton {
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ecdf7;
  border-radius: 18px;
}

.writeTweetButtonSpan {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.tweetLinkHover {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tweetLinkHover:hover {
  background-color: #f7f7f7;
}

.tweetOptionsIcon {
  fill: #1d9bf0;
  width: 18px;
}

.tweetContainer {
  border-bottom: #eff3f4 solid 1px;
  display: flex;
  flex-direction: row;
  /* cursor: pointer; */
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  /* transition: background-color 0.2s ease; */
}

/* .tweetContainer:hover {
  background-color: #f7f7f7;
} */

.TweetProfileIconContainer {
  padding-right: 12px;
  height: fit-content;
  display: flex;
}

.tweetRightContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 12px;
}

.tweetProfileNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7px;
}

.tweetProfileName {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
}

.tweetProfileName:hover {
  text-decoration: underline;
}

.tweetUserOptionsIconContainer {
  display: flex;
  justify-content: center;
  margin: -8px;
  width: 34.75px;
  height: 34.75px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.tweetUserOptionsIconContainer:hover {
  background-color: #e1eef6;
}

.tweetUserOptionsIconContainer:hover > .tweetUserOptionsIcon {
  color: #35a6f1;
}

.tweetUserOptionsIcon {
  display: flex;
  width: 18.75px;
}

.tweetText {
  white-space: pre-wrap;
}

.tweetAttachmentContainer {
  margin-top: 12px;
}

.tweetMediaContainer {
  display: flex;
  max-height: 510px;
  /* border-radius: 16px; */
  overflow: hidden;
}

.tweetImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
}

.tweetStatsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  height: 20px;
}

.tweetStats {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tweetStatsIconContainer {
  display: flex;
  justify-content: center;
  margin: -8px;
  width: 34.75px;
  height: 34.75px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.commentsStats > .tweetStatsIconContainer:hover {
  background-color: #e1eef6;
}
.retweetsStats > .tweetStatsIconContainer:hover {
  background-color: #e6f3ef;
}
.likesStats > .tweetStatsIconContainer:hover {
  background-color: #f7e2ec;
}
.viewsStats > .tweetStatsIconContainer:hover {
  background-color: #e1eef6;
}

.commentsStats > .tweetStatsIconContainer:hover > .tweetStatsIcon {
  color: #35a6f1;
}
.retweetsStats > .tweetStatsIconContainer:hover > .tweetStatsIcon {
  color: #00ba7c;
}
.likesStats > .tweetStatsIconContainer:hover > .tweetStatsIcon {
  color: #f84a9b;
}
.viewsStats > .tweetStatsIconContainer:hover > .tweetStatsIcon {
  color: #35a6f1;
}

.commentsStats > .tweetStatsIconContainer:hover {
  background-color: #e1eef6;
}
.retweetsStats > .tweetStatsIconContainer:hover {
  background-color: #e6f3ef;
}
.likesStats > .tweetStatsIconContainer:hover {
  background-color: #f7e2ec;
}
.viewsStats > .tweetStatsIconContainer:hover {
  background-color: #e1eef6;
}

/* .likesIconHover > .tweetStatsIcon:hover {
  color: #f44336;
} */

.tweetStatsIcon {
  width: 18.75px;
  display: flex;
  justify-content: center;
  color: #5d6d79;
}

.tweetStatsNumber {
  padding: 0 12px;
  font-size: 13px;
  font-weight: 400;
  user-select: none;
  color: #5d6d79;
}

.contentBottomBuffer {
  height: 200px;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
}

.loginButtonContainer {
  display: flex;
  justify-content: end;
  /* width: fit-content; */
}

.loginAreaContainer {
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

.loginButton {
  width: 50%;
  height: 52px;
  border-radius: 26px;
  background-color: #1d9bf0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4px;
  transition: background-color 0.2s ease;
  border-radius: 26px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  width: 170px;
}

.loginButton:hover {
  background-color: #1a8cd8;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  float: left;
  padding-left: 10px;
  width: 350px;
  height: 100%;
}

.searchBarContainer {
  display: flex;
  background-color: #eff3f4;
  border-radius: 22px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 44px;
}

.searchBarIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  height: 44px;
  width: 44px;
}

.searchBarIcon {
  width: 18.75px;
}

.searchBarTextConainer {
  padding: 12px;
  flex: 1;
}

.followRecommendContainer {
  background-color: #f7f9f9;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
  padding-bottom: 12px;
}

.followRecommendLabel {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 800;
}

.followRecommendAccountsListContainer {
  display: flex;
  flex-direction: column;
}

.followRecommendAccountContainer {
  display: flex;
  cursor: pointer;
  padding: 12px 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.followRecommendAccountContainer:hover {
  background-color: #eff1f1;
}

.followRecommendAccountLeftSide {
  display: flex;
  align-items: center;
}

.followRecommendAccountIconContainer {
  margin-right: 12px;
  height: 40px;
  width: 40px;
}

.followRecommendAccountName {
  font-size: 15px;
  font-weight: 700;
  user-select: none;
}

.followRecommendAccountName:hover {
  text-decoration: underline;
}

/* .followRecommendAccountRightSide {
} */

.followRecommendFollowButtonContainer {
  height: 32px;
  width: 78px;
  background-color: #0f1419;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.followRecommendFollowButton {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.trendsBarContainer {
  display: flex;
  flex-direction: column;
  background-color: #f7f9f9;
  width: 100%;
  border-radius: 16px;
  position: sticky;
  top: 0;
}

.trendsBarLabelContainer {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 800;
}

.trendsListContainer {
  display: flex;
  flex-direction: column;
}

.trendsList {
  display: flex;
  flex-direction: column;
}

.trendItemContainer {
  display: flex;
  padding: 12px 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.trendItemContainer:hover {
  background-color: #eff1f1;
}

.trendItem {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.trendItemRankContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.trendItemRank {
  color: #666;
  font-size: 13px;
}

.trendItemOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34.75px;
  height: 34.75px;
  margin: -8px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.trendItemOptionsContainer:hover {
  background-color: #e1eef6;
}

.trendItemOptionsContainer:hover > .trendItemOptions {
  color: #35a6f1;
}

.trendItemOptions {
  width: 18.75px;
  height: 18.75px;
}

.trendItemTagContainer {
  margin-top: 2px;
  height: 20px;
}

.trendItemTag {
  font-weight: 700;
}

.trendItemPostsCountContainer {
  margin-top: 4px;
  height: 16px;
}

.trendItemPostsCount {
  color: #666;
  font-size: 13px;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.loginLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 32px;
}

.logoContainer {
  width: 300px;
}

.loginOptionsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.loginOptionsAreaContainer {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.LoginAreaTextContainer {
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 32px;
}

.loginAreaCreateAccountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background-color: #1d9bf0;
}

.loginAreaCreateAccountContainer > span {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.loginAreaAccountTextContaienr {
  margin-top: 40px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

.loginAreaSignInContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: #ccc solid 1px;
}

.loginAreaSignInContainer > span {
  font-size: 15px;
  font-weight: 700;
  color: #1d9bf0;
  text-decoration: none;
}

.modalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}

.modal {
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; */
  min-height: 400px;
  min-width: 500px;
  max-width: 80vw;
  max-height: 90vh;
  height: 550px;
  width: 600px;
  border-radius: 16px;
  background-color: #fff;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modalTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 53px;
  padding: 0px 16px;
}

.modalLogo {
  width: 30px;
}

.modalBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0px 118px;
  padding: 0px 32px;
  padding-bottom: 48px;
}

.modalTopTextContainer {
  display: flex;
  width: 100%;
  margin: 20px 0px;
}

.modalTopText {
  font-size: 31px;
  font-weight: 700;
}

.modalButtonContainer {
  margin: 12px 0px;
}

.loginButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  /* border: #ccc solid 1px; */
}

.loginOptionsSeperator {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.seperatorLine {
  height: 1px;
  background-color: #ccc;
  width: 100%;
  margin: 0px 4px;
}

.seperatorText {
  font-size: 17px;
  font-weight: 400;
  color: #141923;
}

.modalInputContainer {
  padding: 12px 0px;
  width: 100%;
}

.modalInput {
  width: 100%;
  height: 56px;
  font-size: 17px;
  padding: 8px;
  border: #ccc 1px solid;
  border-radius: 4px;
}

.modalInput:focus {
  outline: none;
  border-color: #1d9bf0;
}

.modalLoginButtonContainer {
  margin-top: 20px;
}

.transparentOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.accountModalContainer {
  z-index: 1000;
  padding: 12px 0px;
  border-radius: 16px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

.loggoutButton {
  padding: 12px 16px;
  cursor: pointer;
}

.loggoutButtonText {
  font-size: 15;
  font-weight: 700;
  user-select: none;
}

.loggoutButton:hover {
  background-color: #f7f9f9;
}

.backArrowContainer {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  /* justify-content: start; */
}

.backArrowLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  height: 36px;
  width: 36px;
  margin-left: -9px;
}

.backArrowLogoContainer:hover {
  background-color: #e7e7e8;
}

.backArrow {
  display: flex;
  width: 20px;
  height: 20px;
}

.profileContainer {
  width: 600px;
}

.profileStickyTopNameContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.profileTopContainer {
  display: flex;
  flex-direction: column;
}

.profileCoverContainer {
  display: flex;
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.profileCoverImage {
  width: 100%;
  object-fit: fill;
  max-height: 100%;
}

.profileTopMainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: #eff3f4 solid 1px;
}

.profileTopMenuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileTopMenuIconContainer {
  display: flex;
  width: 25%;
  min-width: 48px;
  margin-top: -15%;
  margin-bottom: 12px;
  border-radius: 50%;
  overflow: hidden;
  border: #fff solid 4px;
}

.profileTopIcon {
  width: 100%;
  height: 100%;
}

.profileTopRightContainer {
  display: flex;
  flex-direction: row;
}

.profileTopRightButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.profileTopRightSettingsButtonContainer {
  height: 48px;
  width: 44px;
}

.profileTopRightButtonCircle {
  height: 36px;
  width: 36px;
  border: #cfd9de solid 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileTopRightButtonCircle:hover {
  background-color: rgba(15, 20, 25, 0.1);
  cursor: pointer;
}

.profileTopRightSettingsButton {
  width: 18.75px;
  height: 18.75px;
}

.profileTopRightRingButtonContainer {
  height: 48px;
  width: 44px;
}

.profileTopRightRingButton {
  width: 24px;
  height: 24px;
}

.profileTopRightFollowButtonContainer {
  height: 48px;
}

.profileTopRightFollowButtonCircle {
  border: #cfd9de solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
}

.profileTopRightFollowButtonCircle:hover {
}

.profileTopRightFollowButtonText {
  font-size: 15px;
  font-weight: 700;
}

.profileNameContainer {
  display: flex;
  margin-bottom: 20px;
}

.profileNameText {
  font-size: 20px;
  font-weight: 800;
}
